# Buildpack API version
api = "0.10"

# Buildpack ID and metadata
[buildpack]
id = "drycc/node"
version = "0.0.1"
name = "Node Buildpack"
homepage = "https://github.com/drycc/pack-images/tree/main/buildpacks/node"

# Stacks that the buildpack will work with
[[stacks]]
id = "{STACK_ID}"
