image: registry.drycc.cc/drycc/buildpacks:bullseye
manifests:
  -
    image: registry.drycc.cc/drycc/buildpacks:bullseye-linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: registry.drycc.cc/drycc/buildpacks:bullseye-linux-arm64
    platform:
      architecture: arm64
      os: linux

