image: docker.io/drycc/pack:bullseye
manifests:
  -
    image: docker.io/drycc/pack:bullseye-linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: docker.io/drycc/pack:bullseye-linux-arm64
    platform:
      architecture: arm64
      os: linux
