image: docker.io/drycc/pack:bullseye-build
manifests:
  -
    image: docker.io/drycc/pack:bullseye-linux-amd64-build
    platform:
      architecture: amd64
      os: linux
  -
    image: docker.io/drycc/pack:bullseye-linux-arm64-build
    platform:
      architecture: arm64
      os: linux

